.title{
    color: var(--pinky);
}

.form{
    width:50%;
}

.prev{
    width:150px;
    height:150px;
    border-radius: 10px;
}

.prev img{
    width:100%;
    height:100%;
    border-radius: 10px;
    /* border-radius: 50%; */
}
