.main {
  width: 80%;
  margin: 0 auto;
  padding: 6rem  7rem;
  min-height: 100vh;
  scroll-behavior: smooth;
}

.logo{
  width:100px;
  height:100px;
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.welcome{
  width:600px;
  /* color: white; */
}

.title{
  /* color:white; */
  font-size: 4rem;
  font-weight: 700;
  margin:2rem 0;
}

.description{
  font-size: 1.5rem;
  font-weight: 400;
  margin:2rem 0;
  font-weight: 300;
  line-height: 1.5;
}

.button{
  width:200px;
  /* color: white; */
  display: flex;
  padding:1rem 2rem;
  justify-content: space-between;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 500;
  margin:2rem 0;
  border: 2px solid var(--pinky);
  cursor: pointer;
}
